@inherits LayoutComponentBase

<SpaceNavigateThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MediaQueryList>
    <MudLayout>
        <MudMainContent Class="page">
            <MudContainer MaxWidth="MaxWidth.Large">
                <div class="page-img-background">
                    <div class="img-background" />
                </div>
                @Body
                <Footer />
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</MediaQueryList>


<svg class="svg">
    <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
        <path d="M0.001,0 C0.689,0.135,0.165,0.883,0.798,1 H1 L1,0 H0.001" />
    </clipPath>
</svg>


<style media="screen and (max-width:1120px)">
    .page {
        background-image: linear-gradient(to bottom, #0e0e0e, #1c1c1c 60%, #192c43);
        position: fixed;
        overflow: hidden;
        padding: 160px 0px 10px 0px !important;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
    }

    .page-img-background {
        background-image: linear-gradient(180deg, #4BA3F3 0%, #7F1BFF 100%);
        -webkit-clip-path: url(#my-clip-path);
        clip-path: url(#my-clip-path);
        height: 30%;
        position: absolute;
        width: 65%;
        right: 0;
        top: 0;
    }

    .img-background {
        background-image: url('/Images/background-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: absolute;
        width: 100%;
        opacity: 0.85;
    }

    .svg {
        height: 0px;
        padding: 0;
        margin: 0;
    }
</style>
<style media="screen and (min-width:1121px)">
    .page {
        background-image: linear-gradient(to bottom, #0e0e0e, #1c1c1c 60%, #192c43);
        position: fixed;
        overflow: hidden;
        padding: 150px 300px !important;
        width:100%;
        height: 100%;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
    }

    .page-img-background {
        background-image: linear-gradient(180deg, #4BA3F3 0%, #7F1BFF 100%);
        -webkit-clip-path: url(#my-clip-path);
        clip-path: url(#my-clip-path);
        height: 100%;
        position: absolute;
        width: 40%;
        right: 0;
        top: 0;
    }

    .img-background {
        background-image: url('/Images/background-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: absolute;
        width: 100%;
        opacity: 0.85;
    }

    .svg {
        height: 0px;
        padding: 0;
        margin: 0;
    }
</style>

@code {

}