################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EsignoRegistration/FileContentIndex
/.vs/EsignoRegistration/config/applicationhost.config
/SpaceNavigate.Core/obj/Debug/net7.0/SpaceNavigate.Core.GlobalUsings.g.cs
/.vs/EsignoRegistration/DesignTimeBuild
